#nav{
    background-color:gainsboro;
}

#side{
    background-color:#5529ac;
}
#search{
    border-radius: 8px;   ;
}

#letra{
    font-family: Montserrat, sans-serif;;
    font-size:150%;
    text-shadow: 2px 2px 2px #5529ac;

}


#actions{
    font-family: Montserrat, sans-serif;;
    font-size: 100%;
    padding-left: 7%;
}

#inicio{
    font-family: Montserrat, sans-serif;;
    padding-left: 7%;
    font-size: 120%;
}